body {
  background: #0b132b;
  font-family: 'Fira Mono', monospace;
}

.monsta {
  margin-top: -60px;
  width: 40%;
  margin-left: 3%;
  float: left;
}

.frog {
    height: 500px;
    width: 200px;
    float: left;
}

.cartoon {
  margin-top: 120px;

}

.code, .bye, .monsta, cartoon, .frog {
  visibility: hidden;
}

.tll, .function1, .function2, .master, .addFunction, .addMaster, .bye {
  display: none;
}

.addMaster {
  margin-top: 0;
}

.master {
  margin-bottom: 0;
}

.bye {
  margin-top: 70px;
  float: left;
  width: 40%;
}

.spacer {
  margin-left: 56px;
}

.code {
  float: left;
  width: 50%;
  margin-top: 30px;
}

.eye {
  fill: white;
}

.tmxPrev {
  width: 78px;
  float: left;
}

.comment, .comment1, .comment2, .comment3 {
  color: #666;
}

.eyelids {
  fill: #8AD6D0;
}

.pupils {
  fill: black;
}

#arms-second, #arms-third {
  display: none;
}

h2 {
  font-size: 90px;
  letter-spacing: 0.1em;
}

p, h2 {
  color: #6FFEE8;
}

.cls-1 {
  isolation: isolate;
}

.cls-2,
.cls-8 {
  fill: #0b132b;
}

.cls-3 {
  opacity: 0.2;
}

.cls-4 {
  fill: #3a506b;
}

.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-4,
.cls-5,
.cls-6,
.cls-8,
.cls-9 {
  fill-rule: evenodd;
}

.cls-5 {
  fill: #4b8199;
}

.cls-6 {
  fill: #5bbfbd;
}

.cls-7 {
  opacity: 0.3;
}

.cls-9 {
  fill: #bc5b80;
}

.cls-10 {
  fill: #fff;
}

.cls-11 {
  fill: #6ffee8;
}

.cls-12 {
  fill: #399994;
}

.cls-13 {
  fill: #8ad6d0;
}

@media screen and (max-width: 1000px) {
  .monsta, .cartoon, .frog{
    margin-top: 0 !important;
    width: 45% !important;
    margin-left: 0 !important;
  }

  .code, .bye {
    width: 48% !important;
  }
}
@media screen and (max-width: 545px) {
   .monsta, .cartoon, .frog {
    margin-top: -30px !important;
    width: 100% !important;
  }

  .code, .bye {
    width: 85% !important;
    margin-top: -100px !important;
    margin-left: 9% !important;
  }

  .code {
    font-size: 0.9em;
  }

  .bye {
    text-align: center;
  }
}
