
.svg {
  height: auto;
}

.right-foot path {
  fill: #ff0000;
}

.left-foot path {
  fill: #ff0000;
}

.eye ellipse {
  fill: black;
}

@keyframes eye {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

.eye {
  animation: eye 1s ease infinite;
}

@keyframes left-foot {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

.left-foot {
  animation: left-foot 5s ease infinite;
}

.cactus {
  width: 30%;
    animation:cactus 5s infinite;
    -webkit-animation:mymove 10s infinite;
}
@-webkit-keyframes cactus {
    0%, 100% {
        -webkit-transform: rotate(0deg);
        fill: #000000;
    }
    25% {
        -webkit-transform: rotate(90deg);
        fill: #78ab98;
    }
    50% {
        -webkit-transform: rotate(180deg);
        fill: #aa7454;
    }
    75% {
        -webkit-transform: rotate(270deg);
        fill: #123456;
    }
}

.cactus {
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
    fill: #231F20;
}

.cactus-one {

}

.cactus-two {
  
}

.cactus-three {
  
}

.cactus {
    animation:mymove 5s infinite;
    -webkit-animation:mymove 10s infinite;
}
@-webkit-keyframes mymove {
    0%, 100% {
        fill: #000000;
    }
    25% {
        fill: #78ab98;
    }
    50% {
        fill: #aa7454;
    }
    75% {
        fill: #123456;
    }
}
.cactus {
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
    fill: #231F20;
}

.right-foot {
  animation: right-foot 5s ease infinite;
}

@keyframes right-foot {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

@keyframes floating {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-25px)}
  75%  {transform: translateY(25px)}
  100% {transform: translateY(0)}
}

.floating {
  animation: floating 5s linear infinite;
}

.mainSVG {
  position: absolute;
}

.svg {
  position: relative;
}

.right-eye {
  fill: white;
  font-size: 63px;
  font-family: Sans-Serif;
}

.right-eye {
  animation: hideshow 10s ease infinite;
}

@keyframes hideshow {
  0%        {opacity: 0}
  15%, 70%  {opacity: 1}
  85%, 100% {opacity: 0}
}

.cartoon-svg {
  width: 30%;
  margin-right: 200px;
  left: 200px;
}

.person-cartoon {
  left: 200px;
  width: 30%;
}

.cartoon {
  width: 30%;
  background: #FC0;
  transform: translateY(220px);
  animation: popup 10s 6.5s ease infinite;
}

@keyframes popup {
  0% {
    transform: translateY(150px);
  }
  34% {
    transform: translateY(20px);
  }
  37% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(150px);
  }
}

